In [16]:
#4.a
v = 8

#4.b
list2 = []

#4.c
list2.append(type(v))  
print(list2) 

#4.d
v += 0.39
print(v)

#4.e
list2.append(type(v))  
print(list2) 

#4.f
v = round(v ** -10) 
list2.append(v) 
print(v, list2)

#4.g
list2.append(type(v))  
print(list2)

[<class 'int'>]
8.39
[<class 'int'>, <class 'float'>]
0 [<class 'int'>, <class 'float'>, 0]
[<class 'int'>, <class 'float'>, 0, <class 'int'>]

In [ ]:
'''Problem 5: More variable type changes

Continue from where you left off in Problem 4.

5.a Manually create a dictionary where the values are items in the list from where we left in 
    problem 4, and the keys should be their index in the list. Print the dictionary.
 .b Add 300 and coerce it into a string
 .c append the type to the list
 .d slice the string up to the 2nd element
 .e append the type to the list
 .f use list comprehension to convert this into a new list of integers
 .g append the type to the list
 .h append the type of three_setA to the list
"""

In [18]:
"5.a Manually create a dictionary where the values are items in the list from where we left in 
    "problem 4, and the keys should be their index in the list. Print the dictionary."
dict2 = {0: "<class 'int'>", 1: "<class 'float'>", 2: 0, 3: "<class 'float'>"}
print(dict2)

#dict2 is a dictionary created manually, where the keys are indices and the values represent types or values based on the items in list2.

{0: "<class 'int'>", 1: "<class 'float'>", 2: 0, 3: "<class 'float'>"}

In [20]:
"5.b Add 300 and coerce it into a string"
list2.append(str(300))  # Convert 300 to a string and add it to list2
print(list2)

[<class 'int'>, <class 'float'>, 0, <class 'int'>, '300']

In [22]:
"5.c append the type to the list"
list2.append(type(str(300)))  # Append the type of the string "300" to list2
print(list2)

[<class 'int'>, <class 'float'>, 0, <class 'int'>, '300', <class 'str'>]

In [30]:
"5.d slice the string up to the 2nd element"
v_slice = list2[-2][:2]  #takes the second-to-last item in list2, assumes it's a string, and extracts its first two characters.
print(v_slice)

30

In [32]:
"5.e append the type to the list"
list2.append(type(v_slice)) 
print(list2)

[<class 'int'>, <class 'float'>, 0, <class 'int'>, '300', <class 'str'>, <class 'str'>]

In [34]:
"5.f use list comprehension to convert this into a new list of integers"
int_list2 = [int(i) for i in v_slice]  # Convert the sliced string to a list of integers
print(int_list2)
#Iterates over each character in the string v_slice. Converts each character to an integer. Collects these integers into a list and assigns it to int_list2.

[3, 0]

In [36]:
"5.g append the type to the list"
list2.append(type(int_list2)) 
print(list2)

[<class 'int'>, <class 'float'>, 0, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>]

In [38]:
"5.h append the type of three_setA to the list"
three_setA = {1, 2, 3, 4, 5}  
list2.append(type(three_setA)) 
print(list2)

[<class 'int'>, <class 'float'>, 0, <class 'int'>, '300', <class 'str'>, <class 'str'>, <class 'list'>, <class 'set'>]